// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$account-name: 'account';
$account-x: 49px;
$account-y: 22px;
$account-offset-x: -49px;
$account-offset-y: -22px;
$account-width: 22px;
$account-height: 25px;
$account-total-width: 116px;
$account-total-height: 85px;
$account-image: '../images/sprite.png';
$account: (49px, 22px, -49px, -22px, 22px, 25px, 116px, 85px, '../images/sprite.png', 'account', );
$cart-add-name: 'cart-add';
$cart-add-x: 49px;
$cart-add-y: 0px;
$cart-add-offset-x: -49px;
$cart-add-offset-y: 0px;
$cart-add-width: 30px;
$cart-add-height: 22px;
$cart-add-total-width: 116px;
$cart-add-total-height: 85px;
$cart-add-image: '../images/sprite.png';
$cart-add: (49px, 0px, -49px, 0px, 30px, 22px, 116px, 85px, '../images/sprite.png', 'cart-add', );
$cart-toolbar-name: 'cart-toolbar';
$cart-toolbar-x: 0px;
$cart-toolbar-y: 0px;
$cart-toolbar-offset-x: 0px;
$cart-toolbar-offset-y: 0px;
$cart-toolbar-width: 49px;
$cart-toolbar-height: 49px;
$cart-toolbar-total-width: 116px;
$cart-toolbar-total-height: 85px;
$cart-toolbar-image: '../images/sprite.png';
$cart-toolbar: (0px, 0px, 0px, 0px, 49px, 49px, 116px, 85px, '../images/sprite.png', 'cart-toolbar', );
$cart-name: 'cart';
$cart-x: 79px;
$cart-y: 0px;
$cart-offset-x: -79px;
$cart-offset-y: 0px;
$cart-width: 19px;
$cart-height: 20px;
$cart-total-width: 116px;
$cart-total-height: 85px;
$cart-image: '../images/sprite.png';
$cart: (79px, 0px, -79px, 0px, 19px, 20px, 116px, 85px, '../images/sprite.png', 'cart', );
$checkout-name: 'checkout';
$checkout-x: 61px;
$checkout-y: 49px;
$checkout-offset-x: -61px;
$checkout-offset-y: -49px;
$checkout-width: 17px;
$checkout-height: 19px;
$checkout-total-width: 116px;
$checkout-total-height: 85px;
$checkout-image: '../images/sprite.png';
$checkout: (61px, 49px, -61px, -49px, 17px, 19px, 116px, 85px, '../images/sprite.png', 'checkout', );
$envelope-name: 'envelope';
$envelope-x: 98px;
$envelope-y: 0px;
$envelope-offset-x: -98px;
$envelope-offset-y: 0px;
$envelope-width: 18px;
$envelope-height: 17px;
$envelope-total-width: 116px;
$envelope-total-height: 85px;
$envelope-image: '../images/sprite.png';
$envelope: (98px, 0px, -98px, 0px, 18px, 17px, 116px, 85px, '../images/sprite.png', 'envelope', );
$feedback-send-name: 'feedback-send';
$feedback-send-x: 0px;
$feedback-send-y: 49px;
$feedback-send-offset-x: 0px;
$feedback-send-offset-y: -49px;
$feedback-send-width: 21px;
$feedback-send-height: 21px;
$feedback-send-total-width: 116px;
$feedback-send-total-height: 85px;
$feedback-send-image: '../images/sprite.png';
$feedback-send: (0px, 49px, 0px, -49px, 21px, 21px, 116px, 85px, '../images/sprite.png', 'feedback-send', );
$map-marker-name: 'map-marker';
$map-marker-x: 98px;
$map-marker-y: 17px;
$map-marker-offset-x: -98px;
$map-marker-offset-y: -17px;
$map-marker-width: 13px;
$map-marker-height: 21px;
$map-marker-total-width: 116px;
$map-marker-total-height: 85px;
$map-marker-image: '../images/sprite.png';
$map-marker: (98px, 17px, -98px, -17px, 13px, 21px, 116px, 85px, '../images/sprite.png', 'map-marker', );
$menu-name: 'menu';
$menu-x: 0px;
$menu-y: 70px;
$menu-offset-x: 0px;
$menu-offset-y: -70px;
$menu-width: 22px;
$menu-height: 15px;
$menu-total-width: 116px;
$menu-total-height: 85px;
$menu-image: '../images/sprite.png';
$menu: (0px, 70px, 0px, -70px, 22px, 15px, 116px, 85px, '../images/sprite.png', 'menu', );
$phone-bottom-name: 'phone-bottom';
$phone-bottom-x: 79px;
$phone-bottom-y: 20px;
$phone-bottom-offset-x: -79px;
$phone-bottom-offset-y: -20px;
$phone-bottom-width: 18px;
$phone-bottom-height: 18px;
$phone-bottom-total-width: 116px;
$phone-bottom-total-height: 85px;
$phone-bottom-image: '../images/sprite.png';
$phone-bottom: (79px, 20px, -79px, -20px, 18px, 18px, 116px, 85px, '../images/sprite.png', 'phone-bottom', );
$phone-name: 'phone';
$phone-x: 79px;
$phone-y: 38px;
$phone-offset-x: -79px;
$phone-offset-y: -38px;
$phone-width: 18px;
$phone-height: 18px;
$phone-total-width: 116px;
$phone-total-height: 85px;
$phone-image: '../images/sprite.png';
$phone: (79px, 38px, -79px, -38px, 18px, 18px, 116px, 85px, '../images/sprite.png', 'phone', );
$search-white-name: 'search-white';
$search-white-x: 21px;
$search-white-y: 49px;
$search-white-offset-x: -21px;
$search-white-offset-y: -49px;
$search-white-width: 20px;
$search-white-height: 20px;
$search-white-total-width: 116px;
$search-white-total-height: 85px;
$search-white-image: '../images/sprite.png';
$search-white: (21px, 49px, -21px, -49px, 20px, 20px, 116px, 85px, '../images/sprite.png', 'search-white', );
$search-name: 'search';
$search-x: 41px;
$search-y: 49px;
$search-offset-x: -41px;
$search-offset-y: -49px;
$search-width: 20px;
$search-height: 20px;
$search-total-width: 116px;
$search-total-height: 85px;
$search-image: '../images/sprite.png';
$search: (41px, 49px, -41px, -49px, 20px, 20px, 116px, 85px, '../images/sprite.png', 'search', );
$tick-black-name: 'tick-black';
$tick-black-x: 98px;
$tick-black-y: 38px;
$tick-black-offset-x: -98px;
$tick-black-offset-y: -38px;
$tick-black-width: 18px;
$tick-black-height: 13px;
$tick-black-total-width: 116px;
$tick-black-total-height: 85px;
$tick-black-image: '../images/sprite.png';
$tick-black: (98px, 38px, -98px, -38px, 18px, 13px, 116px, 85px, '../images/sprite.png', 'tick-black', );
$tick-white-name: 'tick-white';
$tick-white-x: 98px;
$tick-white-y: 51px;
$tick-white-offset-x: -98px;
$tick-white-offset-y: -51px;
$tick-white-width: 18px;
$tick-white-height: 13px;
$tick-white-total-width: 116px;
$tick-white-total-height: 85px;
$tick-white-image: '../images/sprite.png';
$tick-white: (98px, 51px, -98px, -51px, 18px, 13px, 116px, 85px, '../images/sprite.png', 'tick-white', );
$spritesheet-width: 116px;
$spritesheet-height: 85px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($account, $cart-add, $cart-toolbar, $cart, $checkout, $envelope, $feedback-send, $map-marker, $menu, $phone-bottom, $phone, $search-white, $search, $tick-black, $tick-white, );
$spritesheet: (116px, 85px, '../images/sprite.png', $spritesheet-sprites, );


